// You can also style components using traditional scss files if you 
// import the file in your component tsx file.
// Note that emotion styles will take precedence over traditional css.

.MarqueeContent {
  display: block !important;
}

.Marquee {
  display: block !important;
  overflow-x: hidden !important;
}

.two-rows-label .ant-form-item-label {
  padding: 4px 0 !important;
  label {
    white-space: normal;
    margin-right: 12px;
    display: inline-block;
    text-align: right;
    line-height: 14px;
    &:after {
      content: none !important;
    }
  }
}